body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #b72a2a;
}

h1 {
    text-align: center;
}

.news-container {
    margin: 20px 0;
}

.news-container h2 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 1px solid #b72a2a;
    margin-bottom: 5px;
    border-radius: 5px;
}
